<header></header>

<body>
    <section class="registr_form">
        <div class="container">
            <h2><strong>Thank you, {{user.name}} </strong></h2>
            <h3>Your user has been successfully created</h3>
            <p>In order to fit the simulator you need to have a short questionnaire</p>
        </div>
        <button style=" border: 3px black solid; font-size: 20px; color: #000; margin-top: 70px; background-color: lightgray;" class="btn btn-secondary"routerLink="/register5">
            <strong>LET'S START</strong>
        </button>
    </section>
</body>